<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script
    src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.21.0/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.1.1"></script>
  <link rel="stylesheet" type="text/css" href="./midiCss.css" />

  <title>Maestro</title>
  <style>
    .bord {
      border-style: solid;
      border-width: 4px;
      border-color: #7cfc00;
      border-spacing: 10px;


    }

    .showFiles {
      color: green;

    }
  </style>
</head>

<body>
  <script language="JavaScript">
    //manager function. checks if the files are valid and then updates the list
    function manager(x) {
      if (checkFileUploadExt(x) == true) {
        updateList();
      }
    }
    // this function will update the file list
    updateList = function () {
      var input = document.getElementById("customFile");
      var output = document.getElementById("fileList");
      var children = "";
      for (var i = 0; i < input.files.length; ++i) {
        children += "<li>" + input.files.item(i).name + "</li>";
      }
      output.innerHTML = "<ul>" + children + "</ul>";
    };

    //This function will check if all of the files that the client inserts are midi files
    function checkFileUploadExt(fieldObj) {
      var control = document.getElementById("customFile");
      var filelength = control.files.length;
      //checking all the files
      for (var i = 0; i < control.files.length; i++) {
        //getting each file information
        var file = control.files[i];
        var FileName = file.name;
        var FileExt = FileName.substr(FileName.lastIndexOf('.') + 1);
        //checking if extention is mid, if it isent will alert the user that all of the files have to be in midi format
        if ((FileExt.toLowerCase() != "mid")) {
          var error = "File type : " + FileExt + "\n\n";
          error += "Please make sure your file is in midi  format .\n\n";
          console.error(error);
          alert("Please make sure your files are in midi format");
          return false;
        }
      }
      return true;
    }
  </script>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/static/maestro.png" alt="logo" style="height:50px; width: 30px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="Home.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="client.html">Maestro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <span class="glyphicon glyphicon-user"></span>
      <li class="nav-item"><a href="singup.html" class="nav-link"> Sign Up</a>
      </li>
      <li class="nav-item"><a href="login.html" class="nav-link"> <i class="fa fa-globe"></i>Login</a></li>
    </ul>
  </nav>


  <div style="float: right; width: 850px;" class="container mt-5">
    <div class="custom-file mb-4">
      <form method="POST" action="/" enctype="multipart/form-data" accept-charset="">
        <input type="file" class="custom-file-input" id="customFile" name="midFile" accept=".mid" multiple
          onchange="manager(this)" />
        <label class="custom-file-label" for="customFile">Choose file</label>
        <div class="bord">
          <p style="margin: 40px; color: black">Selected files:</p>

          <div class="showFiles" id="fileList"></div>
        </div>
        <div class="container mt-1">
          <input class="btn btn-success" type="submit" value="Upload" style="width: 796px" accept=".mid" />
        </div>
      </form>
    </div>
    <div style="margin-top: 20px; margin-left: 350px;">
      <form action="/learn" method="POST">
        <input type="submit" value="Start Learning" />
      </form>
    </div>
  </div>



  <div>
    <midi-visualizer type="piano-roll" id="mainVisualizer" src="{{MidiLinkPaste}}"></midi-visualizer>
    <midi-player src="{{MidiLinkPaste}}" sound-font visualizer="#mainVisualizer" id="mainPlayer">
    </midi-player>
  </div>

</body>

</html>